
.login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    }
    
    .login-form__input,
    .login-form__btn1,
    .login-form__btn2 {
    border: none;
    margin-bottom: 25px;
    font-size: 18px;
    }
    
    .login-form__input {
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    }
    
    .login-form__btn1 {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
    margin-bottom: 0px;
    }
    .login-form__btn2 {
        background-color: var(--yellow);
        cursor: pointer;
        padding: 20px 0px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 0px;
        }
    .login-form__input:focus {
    border-color: var(--yellow);
    }
    
    .login-form__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    }
    
    .login-form__a {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    }